
@{
    ViewBag.Title = "任务列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @*<h2>任务列表</h2>*@
    <form class="form-inline" role="form" style="margin-top:10px;">
        <div class="form-group">
            <label class="control-label">任务名称：</label>
            <input id="txtJobName" type="text" class="form-control" style="width:100px;" />
        </div>
        <div class="form-group">
            <label id="sltJobStatus" class="control-label">任务状态：</label>
            <select class="form-control">
                <option value="2">全部</option>
                <option value="1">开启</option>
                <option value="0">关闭</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">创建人：</label>
            <input id="txtCreator" type="text" class="form-control" style="width:100px;" />
        </div>
        <div class="form-group">
            <label class="control-label">创建时间：</label>
            <div class='input-group date' id='dtStartTime' style="width:200px;">
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>-
            <div class='input-group date' id='dtEndTime' style="width:200px;">
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </form>
    <table class="table table-hover "></table>
    <div id="toolbar">
        <button type="button" class="btn btn-info btn-flat" id="btnAdd"><i class="glyphicon glyphicon-plus"></i> 添加</button>
        <button type="button" class="btn btn-info btn-flat" id="btnEdit"><i class="glyphicon glyphicon-edit"></i> 修改</button>
        <button type="button" class="btn btn-info btn-flat" id="btnTurnOn"><i class="glyphicon glyphicon-ok"></i> 开启</button>
        <button type="button" class="btn btn-info btn-flat" id="btnTurnOff"><i class="glyphicon glyphicon-off"></i> 关闭</button>
        <button type="button" class="btn btn-info btn-flat" id="btnDelete"><i class="glyphicon glyphicon-remove"></i> 删除</button>
        <button type="button" class="btn btn-info btn-flat" id="btnSearch"><i class="glyphicon glyphicon-search"></i> 查询</button>
    </div>
    <!--[if lt IE 9]>
        <p style="display:inline-block;font-weight:bold;font-size:16px;"> 您的浏览器(IE8)版本过低这将影响页面速度和美观,请联系运维安装360浏览器或者升级您的IE版本。</p>
    <![endif]-->
</div>

<!-- 添加、修改 -->
<div class="modal" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">添加任务</h4>
            </div>
            <div class="modal-body">
                <form id="addform" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="firstname" class="col-sm-3 control-label">任务名称：</label>
                        <div class="col-sm-6">
                            <input id="add_txtJobName" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstname" class="col-sm-3 control-label">分组名称：</label>
                        <div class="col-sm-6">
                            <input id="add_txtGroupName" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstname" class="col-sm-3 control-label">请求地址：</label>
                        <div class="col-sm-6">
                            <input id="add_txtRequestUrl" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstname" class="col-sm-3 control-label">请求方式：</label>
                        <div class="col-sm-6">
                            <select id="add_sltRequestType" class="form-control">
                                <option value="0">Get</option>
                                <option value="1">Post</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstname" class="col-sm-3 control-label">超时时长：</label>
                        <div class="col-sm-6">
                            <input id="add_txtOutTime" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstname" class="col-sm-3 control-label">执行条件：</label>
                        <div class="col-sm-6">
                            <input id="add_txtTrigger" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstname" class="col-sm-3 control-label">任务描述：</label>
                        <div class="col-sm-6">
                            <input id="add_txtDescription" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstname" class="col-sm-3 control-label">任务状态：</label>
                        <div class="col-sm-6">
                            <select id="add_sltJobStatus" class="form-control">
                                <option value="1">开启</option>
                                <option value="0">关闭</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="btnSubmit">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

@section Scripts {
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-table.js"></script>
    <script src="~/Scripts/bootstrap-table-zh-CN.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/privateoa-common.js"></script>
    <script type="text/javascript">
        var actionFlag = "";
        $(function () {
            $('#dtStartTime').datetimepicker({
                format: 'YYYY-MM-DD HH:mm',
                locale: moment.locale('zh-cn')
            });
            $('#dtEndTime').datetimepicker({
                format: 'YYYY-MM-DD HH:mm',
                locale: moment.locale('zh-cn')
            });
            $('#add_dtStartTime').datetimepicker({
                format: 'YYYY-MM-DD HH:mm',
                locale: moment.locale('zh-cn')
            });
            $('#add_dtEndTime').datetimepicker({
                format: 'YYYY-MM-DD HH:mm',
                locale: moment.locale('zh-cn')
            });

            @*var userid=@ViewData["UserID"];
            var year = @ViewData["Year"];
            var month = @ViewData["Month"];
            if(userid!=0){$("#txtUserID").val(userid);}
            if(year!=0&&month==0){
                $("#dtStartTime").find("input").val(year+"-01-01 00:00:00");
                $("#dtEndTime").find("input").val(year+"-12-31 23:59:59");
            }
            if(year!=0&&month!=0){
                $("#dtStartTime").find("input").val(year+"-"+month+"-01 00:00:00");
                if(month==1||month==3||month==5||month==7||month==8||month==10||month==12){
                    $("#dtEndTime").find("input").val(year+"-"+month+"-31 23:59:59");
                }else if(month==4||month==6||month==9||month==11){
                    $("#dtEndTime").find("input").val(year+"-"+month+"-30 23:59:59");
                }else if(month==2&&(year%4==0||year%400==0)){
                    $("#dtEndTime").find("input").val(year+"-"+month+"-29 23:59:59");
                }else if(month==2&&year%4!=00&&year%400!=0){
                    $("#dtEndTime").find("input").val(year+"-"+month+"-28 23:59:59");
                }
            }*@
            var oTable = new tableInit();
            oTable.Init();
        });

        //初始化
        var tableInit = function () {
            var table = new Object();
            table.Init = function () {
                $(".table").bootstrapTable({
                    title: "任务列表",                  //标题
                    url: 'GetList',                     //请求后台的URL（*）
                    method: 'post',                     //请求方式（*）
                    async: false,                       //ajax请求的时候是同步还是异步。true为异步
                    toolbar: '#toolbar',                //工具按钮用哪个容器
                    pagination: true,                   //是否显示分页（*）
                    sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                    pageNumber: 1,                      //初始化加载第一页，默认第一页
                    pageSize: 10,                       //每页的记录行数（*）
                    pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                    clickToSelect: true,                //是否启用点击选中行
                    singleSelect: true,                 //是否单选
                    showRefresh: true,                  //是否显示刷新按钮
                    showToggle: true,                   //是否显示详细视图和列表视图的切换按钮
                    showColumns: true,                  //是否显示所有的列
                    //传递参数（*）
                    queryParams: function (params) {
                        var paramObj = {
                            Name: $("#txtJobName").val(),
                            Creator: $("#txtCreator").val(),
                            Status: $("#sltJobStatus").val(),
                            CreateTimeStart: $("#dtStartTime").find("input").val(),
                            CreateTimeEnd: $("#dtEndTime").find("input").val(),
                            pagesize: params.limit,
                            pageindex: params.pageNumber
                        };
                        return paramObj;
                    },
                    //列信息。title为列头，field此列取得数组对象的属性
                    columns: [
                             { field: '', title: '', width: 20, checkbox: true },
                             { field: 'ID', title: '任务编号', visible: false },
                             //{ field: 'RowNum', title: '序号' },
                             { field: 'Name', title: '任务名称', sortable: true },
                             { field: 'GroupName', title: '分组名称', sortable: true },
                             { field: 'RequestUrl', title: '请求地址', sortable: true },
                             { field: 'RequestType', title: '请求方式', sortable: true },
                             { field: 'OutTime', title: '超时时长', sortable: true },
                             { field: 'Trigger', title: '执行条件', sortable: true },
                             { field: 'Status', title: '任务状态', sortable: true },
                             { field: 'Description', title: '任务描述', sortable: true },
                             { field: 'Creator', title: '创建人', sortable: true },
                             { field: 'Modifer', title: '修改人', sortable: true },
                             {
                                 field: 'CreateTime', title: '创建时间', sortable: true, formatter:
                                   function (value, row, index) { return getDate(value); }
                             },
                             {
                                 field: 'ModifiedTime', title: '修改时间', sortable: true, formatter:
                                   function (value, row, index) { return getDate(value); }
                             }
                    ],
                    //表格加载前，可以在此方法里处理一些逻辑
                    onBeforeLoad: function (datagrid) {
                        console.log('开始加载 表格数据');
                    },
                    //ajax请求成功时调用的方法
                    onComplete: function (datagrid) {
                        console.log("数据请求完成！");
                    },
                    //ajax请求失败处理
                    onError: function (datagrid) {
                        console.log("数据请求发生错误！");
                    },
                    //ajax请求成功返回，表格加载完毕后的处理
                    onLoadSuccess: function (obj) {
                        console.log("表格加载成功！");
                    }
                });
            }
            return table;
        }

        //添加
        $("#btnAdd").click(function () {
            $("#Modal").modal('show');
            actionFlag = "add";
        });

        //修改
        $("#btnEdit").click(function () {
            var selectedRow = $(".table").bootstrapTable('getSelections');
            if (selectedRow.length >= 1) {
                $("#Modal").modal('show');
                $("#add_dtStartTime").find("input").val(getDate(selectedRow[0].STime));
                $("#add_dtEndTime").find("input").val(getDate(selectedRow[0].ETime));
                $("#add_txtHours").val(selectedRow[0].Hours);
                $("#add_txtRemark").val(selectedRow[0].Remark);
                actionFlag = "edit";
            } else {
                alert("请选择记录！");
            }
        });

        //添加/修改提交
        $("#btnSubmit").click(function () {
            var data = new Object();
            data.STime = $("#add_dtStartTime").find("input").val();
            data.ETime = $("#add_dtEndTime").find("input").val();
            data.Hours = $("#add_txtHours").val();
            data.Remark = $("#add_txtRemark").val();
            var action = "";
            if (actionFlag == "add") {
                action = "AddJB";
            } else if (actionFlag == "edit") {
                action = "EditJB";
                var selectedRow = $(".table").bootstrapTable('getSelections');
                data.JID = selectedRow[0].JID;
            } else {
                return;
            }
            $.ajax({
                cache: true,
                type: "POST",
                url: action,
                data: data,
                async: false,
                error: function (request) {
                    alert("error");
                },
                success: function (data) {
                    //alert("success");
                    $("#Modal").modal('hide');
                    $(".table").bootstrapTable("refresh");
                    $("#add_dtStartTime").find("input").val("");
                    $("#add_dtEndTime").find("input").val("");
                    $("#add_txtHours").val("");
                    $("#add_txtRemark").val("");
                }
            });
        });

        //删除
        $("#btnDelete").click(function () {
            var selectedRow = $(".table").bootstrapTable('getSelections');
            if (selectedRow.length >= 1) {
                var data = new Object();
                data.JID = selectedRow[0].JID;
                $.ajax({
                    cache: true,
                    type: "POST",
                    url: "DeleteJB",
                    data: data,
                    async: false,
                    error: function (request) {
                        alert("error");
                    },
                    success: function (data) {
                        //alert("success");
                        $("#Modal").modal('hide');
                        $(".table").bootstrapTable("refresh");
                    }
                });
            } else {
                alert("请选择记录！");
            }
        });

        //查询
        $("#btnSearch").click(function () {
            $(".table").bootstrapTable("refresh");
        });


    </script>
}


